<app-title></app-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card id="1" cardPhoto="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" cardTitle="Hello World" cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat consectetur est, eu hendrerit odio vulputate vitae. Morbi fringilla convallis tortor ultrices rutrum. Praesent tincidunt ac quam ut facilisis. Praesent nec tellus lacus. Donec sem nisl, pharetra eget purus id, pharetra placerat orci. Phasellus eu porta sapien, hendrerit scelerisque diam. Vestibulum et finibus mi. Mauris tempor dictum tortor, non aliquam velit commodo eu. Maecenas tincidunt faucibus odio sed maximus."></app-big-card>
    </div>
    <div class="articles__other">
        <app-small-card id="2" cardPhoto="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" cardTitle="Hello World"></app-small-card>
        <app-small-card id="3" cardPhoto="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" cardTitle="Teste"></app-small-card>
        <app-small-card id="4" cardPhoto="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" cardTitle="Testing"></app-small-card>
    </div>
</div>
