<div class="main-container">
    <header>
        <app-navbar></app-navbar>
    </header>
    <app-title></app-title>
    <div class="articles">
        <div class="articles__main">
            <app-big-card id="1" cardPhoto="{{ imageUrlBigCard }}" cardTitle="{{ titleBigCard }}" cardDescription="Exemplo de superação, o nadador rompe barreiras e o preconceito relacionado a idade, mostrando que com foco e determinação se consegue atingir quaisquer objetivo."></app-big-card>
        </div>
        <div class="articles__other">
            <app-small-card id="2" cardPhoto="{{ firstImageSmallCard }}" cardTitle="{{ firstTitleSmallCard }}" cardDescription="Após melhadas no Pan-Americano e participação nas Olímpiadas do Rio 2016, velocista decide se aposentar aos 29 anos. Larissa fez sucesso nas piscinas, sendo considerada a maior medalhista Pan-Americana, ultrapassando ícones como Diego Hypólito em número de medalhas."></app-small-card>
            <app-small-card id="3" cardPhoto="{{ secondImageSmallCard }}" cardTitle="{{ secondTitleSmallCard }}" cardDescription="Em Melbourne, no Mundial de Natação, revezamento feminino 4x200m atingiu a marca de 7:48.42 e se classificou para a final com o sexto tempo."></app-small-card>
            <app-small-card id="4" cardPhoto="{{ thirdImageSmallCard }}" cardTitle="{{ thirdTitleSmallCard }}" cardDescription="Nadadora que representa o Pinheiros e Seleção Brasileira bate recorde em número de medalhas no Sulamericano. Expectativas são altas pelos resultados da atleta no Mundial e Olímpiadas."></app-small-card>
        </div>
    </div>
</div>

