.content__container {
    width: 100%; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    background-image: url("../../../assets/backgroundSea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content__title {
    display: flex;
    justify-content: center;
}

.content__title > h1 {
    margin: 20px 0;
}

.content__image > img {
    width: 500px; 
    min-width: 500px; 
    height: 300px; 
    border-radius: 5px;
}

.content__description {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.content__description > p {
    color: black;
    text-align: justify;
    width: 70%;
}

.back__container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-left: 80px;
    margin-top: 40px;
    bottom: 0;
}

.back__container > button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}