@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.small__container {
    width: 700px;
    margin: 0 0 15px 55px;
}

.small__container__content {
    display: flex;
}

.small__photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small__container__text {
    display: flex;
    flex-direction: column;
}

.small__title {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.small__title h1 {
    font-family: 'Shadows Into Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small__description {
    margin-top: 10px;
}

.small__separator {
    margin-top: 10px;
}