.quiz__container {
    width: 80%;
    margin: 20px auto auto auto;
}

.quiz__questions {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4224d9;
    border-radius: 8px;
    background-color: #644ED2;
    width: 100%;
    height: 200px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.quiz__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto auto 20px auto;
}

.btn-option {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 50%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.btn-option:hover {
    background-color: #5cbf2a;
}

.btn-option:active {
    position: relative;
    top: 1px;
}