@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-size: 16px;
    font-family: 'Raleway';
}

.banner {
    background: url("./images/banner.png");
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.banner-content,
#professional-challenges,
#course-content,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 248px;
    height: 214px;
    left: 8.19rem;
    top: 1.69rem;
}

.banner-content h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 47px;
    background-color: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    text-transform: uppercase;
    margin-top: 1rem;
}

.banner-content p {
    width: 510px;
    height: 46px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#transform-world {
    background: url("./images/woman-code.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 363px;
    width: 100vw;
}

#transform-world p {
    width: 344px;
    padding: 111px 0 0 198px;
    font-weight: 900;
    font-size: 1.56rem;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #33A8DB;
    text-transform: lowercase;
}

#course-content h2,
#professional-challenges h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
    letter-spacing: 0.19em;
    color: #33A8DB;
    text-transform: uppercase;
    text-align: center;
}

#professional-challenges h2 {
    width: 746px;
    height: 76px;
    margin-top: 4rem;
}

#professional-challenges img {
    width: 659px;
    height: 429px;
    margin: 2rem 0 2.5rem;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #000;
}

footer {
    margin-top: 3rem;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}